*.[ao]
*.lo
*.so
*.la
*.dylib
*.swp
*.log
*.pyc
*.tmp
*.dSYM

*~
.#*
*#

bin/
lib/
autom4te.cache/
.libs/
.deps/
.ropeproject/

fooltest
config.cache
config.h
config.intl
config.log
config.status
configure.scan
stamp-h1
