*.[ao]
*.lo
*.so
*.la
*.dylib
*.swp
*.log
*.pyc
*.tmp
*.m4

*~
.#*
*#

bin/
lib/
autom4te.cache/
.libs/
.deps/
.ropeproject/

fooltest
config.cache
config.h
config.intl
config.log
config.status
config.h.in
config.guess
config.sub
libtool
ar-lib
compile
configure.scan
depcomp
install-sh
libtool
ltmain.sh
Makefile.in
missing
stamp-h1
